/* this is used for reset default style element */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* start styling */
.container {
	width: min(100% - 15px, 992px);
	margin-inline: auto;
}

.navbar {
	position: fixed;
	height: 80px;
	z-index: 1000;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
}

.navbar-wrapper-alt {
	justify-content: center !important;
}

.nav-list {
	list-style: none;
	text-transform: capitalize;
}

.nav-item a {
	text-decoration: none;
	color: white;
	position: relative;
	padding: 8px 0px;
	transition: all ease-in 100ms;
}

.nav-item a:hover {
	color:#ff66c4;
}

.nav-item a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 4px;
	width: 0%;
	height: 4px;
	background-color: #ff66c4;
	transition: all ease-in 100ms;
}

.nav-item a:hover::after {
	width: 100%;
	transition: all ease-in 100ms;
}

.logo a img {
	width: 80px;
}

section.main {
	min-height: 100vh;
	padding-top: 80px;
}

.content-wrapper {
	display: flex;
	align-items: center;
}

.hero {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0px;
}

.card-wrapper {
	width: 40%;
	overflow: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
}

.card > div {
	width: 100%;
}

.card-img img {
	width: 100%;
	max-width: 100%;
}

.card-body {
	padding: 32px 16px;
	text-align: center;
}

.card-tittle {
	font-size: 24px;
	margin-bottom: 12px;
}

.card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 0px;
}

.card-button a {
	text-decoration: none;
	padding: 8px 16px; 
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: rgb(94,94,94);
	transition: all ease-in 100ms;
}

.card-button a:hover {
	color: #c86edf;
	transition: all ease-in 100ms;
}
	

.hero-content {
	width: 60%;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	padding: 0px 24px;
}

/*styling about page*/

.about-wrapper {
	padding: 24px 0px;
	text-align: center;
}

.about-tittle {
	font-size: 32px;
	text-transform: capitalize;
}

.about-body {
	font-size: 24px;
	margin-top: 32px;
}

/* styling painting page */
.painting-wrapper {
  display: flex;
  align-items: center;
  padding: 24px 0;
  height: 100vh;
}

.painting-wrapper:first-of-type {
  padding: 24px 0;
  height: calc(100vh - 80px);
}

.painting-title {
	font-size: 32px;
	margin-bottom: 24px;
}

.painting-body {
	font-size: 24px;
	font-weight: 500;
}

footer {
	background-color: black;
}

.footer-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	background-color: black;
	color: white;
	padding: 16px 0px;
}

.social-logo a img {
	width: 32px;
}